nav {
    background-color: #52514e;
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
}