body {
  background-color: #313233;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.container {   
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-direction: column;
}

.main-placeholder {
  padding: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}


/* body {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #1c1c1c;
}

.container {
  margin: 300px 700px;
}

.outline-rec {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 600px;
  height: 400px;
  border-radius: 4%;
	background: linear-gradient(-60deg, orange, #1c1c1c, #1c1c1c, orange);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-rec {
  text-align: center;
  width: 590px;
  height: 390px;
  border-radius: 4%;
  background: #2e2e2e;
}

.content {
  align-items: center;
  padding: 100px;
}

.main-placeholder {
  padding-top: 20px; 
  width: 400px;
}

.btn-container {
  margin-top: 70px;
}

.btn {
  width: 250px;
  height: 50px;
} */